// colors
$clr-primary-1: hsl(0, 100%, 74%);
$clr-primary-2: hsl(154, 59%, 51%);

$clr-accent-1: hsl(248, 32%, 49%);

$clr-neutral-1: hsl(249, 10%, 26%);
$clr-neutral-2: hsl(246, 25%, 77%);
$clr-neutral-3: hsla(249, 10%, 26%, 0.2);

// font size
$font-size: 16px;

// transition
$transition: all 200ms ease;

$desktop: 1440px;
